# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\joaor\Desktop\Porto\Upskill\Git\upskill_Java1_LPJ_grupo1\Projeto\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
